## Preguntas de esta tarea

Carga el CSV de la carpeta de datos del tema llamado run.csv y responde a las siguientes preguntas.

**1 - Indica cuantos estudiantes formaron parte del estudio de deporte**

**2 - Indica cuantos individuos son hombres y cuantos son mujeres**

**3 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?**

**4 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?**

**5 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?**

**6 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?**

In [61]:
import pandas as pd # cargamos la libreria pandas

In [62]:
df = pd.read_csv("../../data/run.csv", decimal='.', encoding='utf-8', header=0)

In [63]:
df = df.rename(columns={df.columns[0]: 'id'})

In [137]:
df

,id,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...,...
87,88,92,94,no,si,H,69.0,150,moderada
88,89,94,92,no,si,M,62.0,131,moderada
89,90,96,140,si,no,M,61.0,140,moderada
90,91,96,116,si,no,M,68.0,116,moderada
91,92,100,115,si,si,M,63.0,121,moderada

**1 - Indica cuantos estudiantes formaron parte del estudio de deporte**

In [65]:
df.shape

(92, 9)

**2 - Indica cuantos individuos son hombres y cuantos son mujeres**

In [70]:
generos = df[['id', 'genero']].groupby('genero').count()

In [71]:

generos.rename(columns={df.columns[0]: 'Total'})

        Total
genero
H          57
M          35

**3 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?**

In [81]:
Df2 = df[['hace.deporte','pulso.antes','pulso.despues']]

In [76]:

Df2.groupby('hace.deporte').mean()

              pulso.antes  pulso.despues
hace.deporte
no              72.421053      72.315789
si              73.600000      92.514286

**4 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?**

In [113]:
hace_deporte = df[df['hace.deporte'] == 'si'] 
hace_deporte.head()

,id,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
3,4,58,70,si,no,H,72.0,145,moderada
6,7,60,76,si,no,H,71.0,170,intensa
11,12,62,76,si,si,H,73.5,160,intensa
12,13,62,75,si,no,H,72.0,195,moderada
13,14,62,58,si,no,H,72.0,175,intensa

In [119]:
hace_deporteDf2 = hace_deporte[['genero','pulso.antes','pulso.despues']]
hace_deporteDf2.head()

   genero  pulso.antes  pulso.despues
3       H           58             70
6       H           60             76
11      H           62             76
12      H           62             75
13      H           62             58

In [120]:
hace_deporteDf2.groupby('genero').mean()

        pulso.antes  pulso.despues
genero
H         70.250000      83.208333
M         80.909091     112.818182

**5 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?**

In [122]:
df.head()

,id,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa

In [126]:
No_hace_deporte = df[df['hace.deporte'] == 'no'] 
No_hace_deporte.head()

,id,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
4,5,58,58,no,no,H,66.0,135,intensa
5,6,58,56,no,no,M,67.0,125,moderada

In [133]:
fumado_df  = No_hace_deporte[['fuma','pulso.antes','pulso.despues']]
fumado_df.groupby('fuma').mean()

      pulso.antes  pulso.despues
fuma
no      71.707317      71.512195
si      74.250000      74.375000

**6 - Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?**

In [140]:
Estudiantes_Df = df[['tipo.actividad','pulso.antes','pulso.despues']]
Estudiantes_Df.groupby('tipo.actividad').mean()

                pulso.antes  pulso.despues
tipo.actividad
intensa           71.571429      72.190476
moderada          72.737705      82.786885
nula              48.000000      54.000000
suave             79.555556      82.222222